@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-size: 16px;
}
*,**{
  box-sizing: border-box;
}
.containerDiv{
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
}
.main{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: auto;
}
.emptyDiv{
  visibility: hidden;
  opacity: 0; 
  transform: translateY(100px);
  transition: transform 1s,opacity 2s;
}

 .inView{ 
  visibility: visible;
  opacity: 1;
  transition-delay: 200ms; 
  transform: translateY(0px)
}

